# Ignore all types of font except WOFF/WOFF2
.abf
.acfm
.afm
.amfm
.bdf
.cha
.chr
.compositefont
.dfont
.eot
.etx
.euf
.f3f
.fea
.ffil
.fnt
.fon
.fot
.gdr
.gf
.glif
.gxf
.jfproj
.lwfn
.mcf
.mf
.mxf
.nftr
.odttf
.otf
.pcf
.pf2
.pfa
.pfb
.pfm
.pfr
.pk
.pmt
.sfd
.sfp
.suit
.t65
.tfm
.ttc
.tte
.ttf
.txf
.ufo
.vfb
.vlw
.vnf
.xfn
.xft
.ytf
